In [1]:
import pandas as pd

In [202]:
data = pd.read_excel('data/2018/economic-aggregates/S1.6.xlsx')
years = data.iloc[5:6,2:-2]
years

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
5,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17

In [11]:
process = data[7:]

In [249]:
sections = process.iloc[:,0]
sections

7       1
8     1.1
9     1.2
10    1.3
11    1.4
12      2
13      3
14    3.1
15    3.2
16    3.3
17    3.4
18    3.5
19      4
20      5
21      6
22    6.1
23    6.2
24      7
25    7.1
26    7.2
27    7.3
28    7.4
29    7.5
30    7.6
31    7.7
32      8
33      9
34     10
35     11
36     12
Name: Unnamed: 0, dtype: object

In [215]:
main_sections = [index for index in sections.index if sections[index].isdigit()]

In [216]:
main_sections

[7, 12, 13, 19, 20, 21, 24, 32, 33, 34, 35, 36]

In [250]:
[data.iloc[idx] for idx in main_sections][0].values[2]

1501947

In [218]:
[index for index in years.transpose().index if years[index].iloc[0] == '2011-12']

['Unnamed: 2', 'Unnamed: 8']

In [222]:
rows = [data.iloc[idx] for idx in main_sections]

In [242]:
values = [row['Unnamed: 2'] for row in rows[0:-1]]

In [243]:
all_sum=sum(values)

In [244]:
values = [value/all_sum*100 for value in values]

In [245]:
values[0:-1]

[18.526668365621283,
 3.2198931632207737,
 17.392320116601244,
 2.302568686161225,
 9.58850595526355,
 10.899073461202283,
 6.531855522412509,
 5.923636348385693,
 12.95988649733204,
 6.058446670299765]

In [247]:
[row.iloc[-1] for row in rows[0:-1]]

['Agriculture, forestry and fishing',
 'Mining and quarrying',
 'Manufacturing',
 'Electricity, gas, water supply & other utility services',
 'Construction',
 'Trade, repair, hotels and restaurants',
 'Transport, storage, communication & services related to broadcasting',
 'Financial services',
 'Real estate, ownership of dwelling & professional services',
 'Public administration and defence',
 'Other services']

In [251]:
process

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
7,1,"कृषि, वानिकी और मत्‍स्‍यन",1501947,1675107,1926372,2093612,2225368,2484005,1501947,1524288,1609198,1605715,1615216,1716746,1,"Agriculture, forestry and fishing"
8,1.1,फसलें,982151,1088814,1248776,1292874,1327997,1530137,982151,983809,1037060,998425,966345,1033008,1.1,crops
9,1.2,पशुधन,327334,368823,422733,510411,584070,639912,327334,344375,363558,390449,421369,448964,1.2,livestock
10,1.3,वानिकी और लट्ठा बनाना,124436,137558,156674,173760,182247,180465,124436,124743,132093,134609,137022,138779,1.3,forestry and logging
11,1.4,मत्‍स्‍यन और जलीय कृषि,68027,79911,98190,116567,131053,133492,68027,71362,76487,82232,90480,95996,1.4,fishing and aquaculture
12,2,खनन और उत्खनन,261035,285842,295794,308476,301230,332947,261035,262609,263107,288685,328453,371066,2,Mining and quarrying
13,3,विनिर्माण,1409986,1572837,1713452,1878369,2116119,2329220,1409986,1486873,1560709,1683938,1898790,2048711,3,Manufacturing
14,3.1,"खाद्य उत्‍पाद, पेय पदार्थ और तम्‍बाकू",167524,168227,175673,185899,204599,212347,167524,154540,153560,157637,168932,174619,3.1,"Food Products, Beverages and Tobacco"
15,3.2,"वस्‍त्र, परिधान और चर्म उत्‍पाद",153238,187981,246424,249573,296145,315236,153238,177398,216411,216429,259680,274256,3.2,"Textiles, Apparel and Leather Products"
16,3.3,मेटल उत्‍पाद,229627,248915,286998,273621,233751,251748,229627,238520,277322,261206,237485,263186,3.3,Metal Products
17,3.4,मशीनरी और उपकरण,334670,356231,343383,388961,502712,548807,334670,345731,324994,357017,415289,442382,3.4,Machinery and Equipment
18,3.5,अन्‍य विनिर्मित वस्तुएं,524927,611483,660973,780315,878912,1001081,524927,570684,588422,691649,817404,894267,3.5,Other Manufactured Goods
19,4,"बिजली, गैस, जलापूर्ति और अन्य उपयोगी सेवाएं",186668,215350,260155,282258,336978,363482,186668,191635,199601,214047,224198,244934,4,"Electricity, gas, water supply & other utility..."
20,5,निर्माण,777335,849365,921470,979086,992298,1028463,777335,780050,800771,835229,866440,878110,5,Construction
21,6,"व्यापार, मरम्मत, होटल और जलपान गृह",883582,1054533,1184560,1320833,1431016,1586238,883582,981620,1034506,1135841,1259039,1370909,6,"Trade, repair, hotels and restaurants"
22,6.1,व्यापार और मरम्मत सेवाएँ,793681,954683,1078421,1206474,1304935,1446832,793681,888665,941941,1037640,1148216,1250502,6.1,Trade & repair services
23,6.2,होटल और रेस्तरां,89901,99850,106140,114359,126082,139406,89901,92955,92565,98201,110823,120407,6.2,Hotels & restaurants
24,7,"परिवहन, भंडारण, संचार एवं प्रसारण से संबंधित स...",529534,609453,689906,786763,872233,935575,529534,569523,617556,671848,734588,766193,7,"Transport, storage, communication & services r..."
25,7.1,रेलवे,61150,72296,78724,92459,100436,106582,61150,69162,73685,80720,85452,84594,7.1,Railways
26,7.2,सड़क परिवहन,262442,300652,338306,370364,399976,434588,262442,282425,300563,320813,342021,362077,7.2,Road transport
27,7.3,जल परिवहन,6910,7190,6476,7590,7354,6848,6910,7052,7345,7954,8100,8578,7.3,Water transport
28,7.4,वायु परिवहन,4393,8128,6853,11820,20350,20655,4393,4183,4550,5188,6053,7184,7.4,Air transport
29,7.5,परिवहन संबंधी प्रासंगिक सेवाएं,63602,72054,75719,91681,94139,103496,63602,66480,70172,75596,80683,86617,7.5,Services incidental to transport
30,7.6,भंडारण,5108,6165,6026,6407,6655,6888,5108,5716,5210,5529,6061,5869,7.6,Storage
31,7.7,संचार एवं प्रसारण से संबंधित सेवाएं,125930,142969,177804,206442,243323,256518,125930,134505,156031,176047,206218,211274,7.7,Communication & services related to broadcasting
32,8,वित्तीय सेवाएं,480226,536819,599341,661411,727254,742936,480226,529792,577914,627255,674022,682553,8,Financial services
33,9,"स्‍थावर सम्‍पदा, आवास का स्वामित्व और व्‍यावसा...",1050651,1239813,1470167,1701935,1904030,2114386,1050651,1150239,1289493,1446460,1625891,1755304,9,"Real estate, ownership of dwelling & professio..."
34,10,लोक प्रशासन और रक्षा,491155,546231,601912,676818,731640,859615,491155,501383,510046,543853,565019,637056,10,Public administration and defence
35,11,अन्य सेवाएं,534827,617343,700023,814718,928480,1064724,534827,568262,600748,659262,711692,776047,11,Other services
36,12,बुनियादी मूल्यों पर सकल मूल्य वर्धन,8106946,9202692,10363153,11504279,12566646,13841591,8106946,8546275,9063649,9712133,10503348,11247629,12,TOTAL GVA at basic prices

In [297]:
filtered = [data.iloc[index] for index in sections.index if float(sections[index]) > 3 and float(sections[index]) < 4]

In [300]:
[row.iloc[-1] for row in filtered]

['Food Products, Beverages and Tobacco',
 'Textiles,  Apparel and Leather Products',
 'Metal Products',
 'Machinery and Equipment',
 'Other Manufactured Goods']