In [1]:
import pandas as pd

In [202]:
data = pd.read_excel('data/2018/economic-aggregates/S1.6.xlsx')
years = data.iloc[5:6,2:-2]
years

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
5,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17

In [11]:
process = data[7:]

In [214]:
sections = process.iloc[:,0]

In [215]:
main_sections = [index for index in sections.index if sections[index].isdigit()]

In [216]:
main_sections

[7, 12, 13, 19, 20, 21, 24, 32, 33, 34, 35, 36]

In [217]:
[data.iloc[idx] for idx in main_sections][0].values[2]

1501947

In [218]:
[index for index in years.transpose().index if years[index].iloc[0] == '2011-12']

['Unnamed: 2', 'Unnamed: 8']

In [222]:
rows = [data.iloc[idx] for idx in main_sections]

In [242]:
values = [row['Unnamed: 2'] for row in rows[0:-1]]

In [243]:
all_sum=sum(values)

In [244]:
values = [value/all_sum*100 for value in values]

In [245]:
values[0:-1]

[18.526668365621283,
 3.2198931632207737,
 17.392320116601244,
 2.302568686161225,
 9.58850595526355,
 10.899073461202283,
 6.531855522412509,
 5.923636348385693,
 12.95988649733204,
 6.058446670299765]

In [247]:
[row.iloc[-1] for row in rows[0:-1]]

['Agriculture, forestry and fishing',
 'Mining and quarrying',
 'Manufacturing',
 'Electricity, gas, water supply & other utility services',
 'Construction',
 'Trade, repair, hotels and restaurants',
 'Transport, storage, communication & services related to broadcasting',
 'Financial services',
 'Real estate, ownership of dwelling & professional services',
 'Public administration and defence',
 'Other services']