In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('data/2018/households/S5.2.xlsx')
years = data.iloc[3:4]
years

,विवरण 5.2: परिवार और सामान्य सरकार द्वारा व्यक्तिगत उपभोग व्यय (` करोड़),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
3,NaN,NaN,2011-12,NaN,NaN,2012-13,NaN,NaN,2013-14,NaN,...,NaN,NaN,2015-16,NaN,NaN,2016-17,NaN,NaN,NaN,NaN

In [3]:
data

,विवरण 5.2: परिवार और सामान्य सरकार द्वारा व्यक्तिगत उपभोग व्यय (` करोड़),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,Statement 5.2: Individual Consumption Expendit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,क्र. सं.,मद,प्रचलित भावों पर Current Prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,slno1,ItemName
3,NaN,NaN,2011-12,NaN,NaN,2012-13,NaN,NaN,2013-14,NaN,...,NaN,NaN,2015-16,NaN,NaN,2016-17,NaN,NaN,NaN,NaN
4,NaN,NaN,परिवारों का व्यक्तिगत उपभोग व्यय,सामान्य सरकार का व्यक्तिगत उपभोग व्यय,वास्तविक व्यक्तिगत उपभोग व्यय,परिवारों का व्यक्तिगत उपभोग व्यय,सामान्य सरकार का व्यक्तिगत उपभोग व्यय,वास्तविक व्यक्तिगत उपभोग व्यय,परिवारों का व्यक्तिगत उपभोग व्यय,सामान्य सरकार का व्यक्तिगत उपभोग व्यय,...,सामान्य सरकार का व्यक्तिगत उपभोग व्यय,वास्तविक व्यक्तिगत उपभोग व्यय,परिवारों का व्यक्तिगत उपभोग व्यय,सामान्य सरकार का व्यक्तिगत उपभोग व्यय,वास्तविक व्यक्तिगत उपभोग व्यय,परिवारों का व्यक्तिगत उपभोग व्यय,सामान्य सरकार का व्यक्तिगत उपभोग व्यय,वास्तविक व्यक्तिगत उपभोग व्यय,NaN,NaN
5,NaN,NaN,Household individual consumption expenditure,General government individual consumption expe...,Actual individual consumption,Household individual consumption expenditure,General government individual consumption expe...,Actual individual consumption,Household individual consumption expenditure,General government individual consumption expe...,...,General government individual consumption expe...,Actual individual consumption,Household individual consumption expenditure,General government individual consumption expe...,Actual individual consumption,Household individual consumption expenditure,General government individual consumption expe...,Actual individual consumption,NaN,NaN
6,1,खाद्य एवं गैर-एल्‍कोहलिक पेय पदार्थ,1499739,0,1499739,1750949,0,1750949,2060368,0,...,0,1726037,1750052,0,1750052,1912153,0,1912153,1,Food and non-alcoholic beverages
7,2,"एल्‍कोहलिक पेय पदार्थ, तम्‍बाकु और स्‍वापक",137226,0,137226,142462,0,142462,157578,0,...,0,141540,144091,0,144091,134279,0,134279,2,"Alcoholic beverages, tobacco and narcotics"
8,3,वस्‍त्र तथा जूते,311547,0,311547,353906,0,353906,460752,0,...,0,385708,392294,0,392294,401263,0,401263,3,Clothing and footwear
9,4,"आवास, जल, बिजली, गैस और अन्‍य र्इंधन",807280,0,807280,926534,0,926534,1048004,0,...,0,952309,981417,0,981417,1010551,0,1010551,4,"Housing, water, electricity, gas and other fuels"
10,5,"सामान, घरेलू उपकरण और दिनचर्या घर के रखरखाव",158414,0,158414,180127,0,180127,207553,0,...,0,198844,221336,0,221336,219556,0,219556,5,"Furnishings, household equipment and routine h..."
11,6,स्‍वास्‍थ्‍य,181334,52073,233407,214348,58267,272615,248829,58771,...,56612,305055,273543,64497,338040,306560,73768,380328,6,Health
12,7,परिवहन,744691,0,744691,824901,0,824901,907412,0,...,0,856691,953552,0,953552,1056032,0,1056032,7,Transport
13,8,संचार,114138,0,114138,126680,0,126680,142173,0,...,0,154098,176115,0,176115,176735,0,176735,8,Communication
14,9,मनोविनोद और संस्‍कृति,50721,5930,56651,54517,6223,60740,60442,5945,...,5116,62679,54467,700,55167,54033,8137,62170,9,Recreation and culture
15,10,शिक्षा,182378,171545,353923,211470,193568,405038,240539,219398,...,182450,400530,239029,198640,437669,265188,214905,480093,10,Education
16,11,जलपान गृह और होटल,116491,0,116491,129318,0,129318,138559,0,...,0,128614,144010,0,144010,153945,0,153945,11,Restaurants and hotels
17,12,विविध वस्‍तुएं और सेवाएं,632039,36152,668191,735948,41997,777946,843777,45890,...,36810,911677,1063687,39241,1102928,1166590,45738,1212328,12,Miscellaneous goods and services
18,NaN,कुल,4935996,265700,5201696,5651159,300055,5951214,6515986,330005,...,280988,6223783,6393593,303078,6696671,6856887,342548,7199435,NaN,TOTAL

In [4]:
process = data[6:]
process

,विवरण 5.2: परिवार और सामान्य सरकार द्वारा व्यक्तिगत उपभोग व्यय (` करोड़),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
6,1,खाद्य एवं गैर-एल्‍कोहलिक पेय पदार्थ,1499739,0,1499739,1750949,0,1750949,2060368,0,...,0,1726037,1750052,0,1750052,1912153,0,1912153,1,Food and non-alcoholic beverages
7,2,"एल्‍कोहलिक पेय पदार्थ, तम्‍बाकु और स्‍वापक",137226,0,137226,142462,0,142462,157578,0,...,0,141540,144091,0,144091,134279,0,134279,2,"Alcoholic beverages, tobacco and narcotics"
8,3,वस्‍त्र तथा जूते,311547,0,311547,353906,0,353906,460752,0,...,0,385708,392294,0,392294,401263,0,401263,3,Clothing and footwear
9,4,"आवास, जल, बिजली, गैस और अन्‍य र्इंधन",807280,0,807280,926534,0,926534,1048004,0,...,0,952309,981417,0,981417,1010551,0,1010551,4,"Housing, water, electricity, gas and other fuels"
10,5,"सामान, घरेलू उपकरण और दिनचर्या घर के रखरखाव",158414,0,158414,180127,0,180127,207553,0,...,0,198844,221336,0,221336,219556,0,219556,5,"Furnishings, household equipment and routine h..."
11,6,स्‍वास्‍थ्‍य,181334,52073,233407,214348,58267,272615,248829,58771,...,56612,305055,273543,64497,338040,306560,73768,380328,6,Health
12,7,परिवहन,744691,0,744691,824901,0,824901,907412,0,...,0,856691,953552,0,953552,1056032,0,1056032,7,Transport
13,8,संचार,114138,0,114138,126680,0,126680,142173,0,...,0,154098,176115,0,176115,176735,0,176735,8,Communication
14,9,मनोविनोद और संस्‍कृति,50721,5930,56651,54517,6223,60740,60442,5945,...,5116,62679,54467,700,55167,54033,8137,62170,9,Recreation and culture
15,10,शिक्षा,182378,171545,353923,211470,193568,405038,240539,219398,...,182450,400530,239029,198640,437669,265188,214905,480093,10,Education
16,11,जलपान गृह और होटल,116491,0,116491,129318,0,129318,138559,0,...,0,128614,144010,0,144010,153945,0,153945,11,Restaurants and hotels
17,12,विविध वस्‍तुएं और सेवाएं,632039,36152,668191,735948,41997,777946,843777,45890,...,36810,911677,1063687,39241,1102928,1166590,45738,1212328,12,Miscellaneous goods and services
18,NaN,कुल,4935996,265700,5201696,5651159,300055,5951214,6515986,330005,...,280988,6223783,6393593,303078,6696671,6856887,342548,7199435,NaN,TOTAL

In [21]:
process.iloc[0].values

array(['1', 'खाद्य एवं गैर-एल्\u200dकोहलिक पेय पदार्थ', 1499739, 0,
       1499739, 1750949, 0, 1750949, 2060368, 0, 2060368, 2250584, 0,
       2250584, 2365895, 0, 2365895, 1499739, 0, 1499739, 1590262, 0,
       1590262, 1705929, 0, 1705929, 1726037, 0, 1726037, 1750052, 0,
       1750052, 1912153, 0, 1912153, '1',
       'Food and non-alcoholic beverages'], dtype=object)

In [17]:
labels = process.iloc[:, -1]
selected = labels.iloc[0]

In [25]:
headers = data.iloc[5][2:-2]
headers

Unnamed: 2          Household individual consumption expenditure
Unnamed: 3     General government individual consumption expe...
Unnamed: 4                         Actual individual consumption
Unnamed: 5          Household individual consumption expenditure
Unnamed: 6     General government individual consumption expe...
Unnamed: 7                         Actual individual consumption
Unnamed: 8          Household individual consumption expenditure
Unnamed: 9     General government individual consumption expe...
Unnamed: 10                        Actual individual consumption
Unnamed: 11         Household individual consumption expenditure
Unnamed: 12    General government individual consumption expe...
Unnamed: 13                        Actual individual consumption
Unnamed: 14         Household individual consumption expenditure
Unnamed: 15    General government individual consumption expe...
Unnamed: 16                        Actual individual consumption
Unnamed: 17         Household individual consumption expenditure
Unnamed: 18    General government individual consumption expe...
Unnamed: 19                        Actual individual consumption
Unnamed: 20         Household individual consumption expenditure
Unnamed: 21    General government individual consumption expe...
Unnamed: 22                        Actual individual consumption
Unnamed: 23         Household individual consumption expenditure
Unnamed: 24    General government individual consumption expe...
Unnamed: 25                        Actual individual consumption
Unnamed: 26         Household individual consumption expenditure
Unnamed: 27    General government individual consumption expe...
Unnamed: 28                        Actual individual consumption
Unnamed: 29         Household individual consumption expenditure
Unnamed: 30    General government individual consumption expe...
Unnamed: 31                        Actual individual consumption
Unnamed: 32         Household individual consumption expenditure
Unnamed: 33    General government individual consumption expe...
Unnamed: 34                        Actual individual consumption
Name: 5, dtype: object

In [20]:
selected

'Food and non-alcoholic beverages'

In [29]:
row = process.iloc[0][2:-2].values
row

array([1499739, 0, 1499739, 1750949, 0, 1750949, 2060368, 0, 2060368,
       2250584, 0, 2250584, 2365895, 0, 2365895, 1499739, 0, 1499739,
       1590262, 0, 1590262, 1705929, 0, 1705929, 1726037, 0, 1726037,
       1750052, 0, 1750052, 1912153, 0, 1912153], dtype=object)

In [11]:
labels.index

AttributeError: 'RangeIndex' object has no attribute 'value'

In [36]:
sections = process.iloc[:, -1]
sections

6                      Food and non-alcoholic beverages
7            Alcoholic beverages, tobacco and narcotics
8                                 Clothing and footwear
9      Housing, water, electricity, gas and other fuels
10    Furnishings, household equipment and routine h...
11                                               Health
12                                            Transport
13                                        Communication
14                               Recreation and culture
15                                            Education
16                               Restaurants and hotels
17                     Miscellaneous goods and services
18                                                TOTAL
Name: Unnamed: 36, dtype: object